<div id="<%= dom_id(comment) %>" style="<%= style if defined?(style) %>">
  <%= comment.body %>
  <p> Comment by: <%= comment.user_full_name.titleize %> </p>
  <% if can? :crud, comment %>
    <%= link_to "delete", post_comment_path(@post, comment),
                    data: {confirm: "Are you sure?"},
                    method: :delete, remote: true %>
  <% end %>
  <hr>
</div>
