<h1>Password Reset</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label "Old Password" %>
    <%= f.password_field :old_password %>
  </div>

  <div>
    <%= f.label "New Password" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label "New Password Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>


  <div>
    <%= f.submit "Update User" %>
  </div>
<% end  %>
