<%= @post.errors.full_messages.join(", ") %>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit %>

  <div>
      <%= f.label :category %>
      <%# collection_select(object, method, collection, value_method, text_method, options = {}, html_options = {}) public %>
       <%# second param, method instance, what you want to save to the database %>
       <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  </div>


<% end %>
